%h1 Key Report

%h2 Students who haven't returned anything

%ul
  = render @missing_everything

%h2 Students who are missing cards

%ul
  = render @missing_cards

%h2 Students who are missing keys

%ul
  = render @missing_keys

%h2 Students who have returned everything

%ul
  = render @have_everything
